@import "tailwindcss";
@import "../styles/calendar.css";

/* @import "tw-animate-css"; */

html {
  scroll-behavior: smooth;
}

* {
  /* border: 1px solid red; */
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-clash-display: var(--font-clash-display);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: #0b0b0b;
  color: #fff;
}

.hero-bg-left {
  background-image: url(/public/header-bg-2.png);
}

.hero-bg-right {
  background-image: url(/public/header-bg.png);
}

div.select__control,
.css-13cymwt-control,
div.select__control,
div.select__control.select__control--is-focused,
div.select__control.select__control--menu-is-open {
  border: 1px solid #434343 !important;
  background-color: #171717 !important;
  border-radius: 8px;
  box-shadow: unset !important;
}
.css-13cymwt-control:active {
  border-color: #430b68;
}

.select__multi-value,
.css-1p3m7a8-multiValue,
div.select__multi-value.css-1p3m7a8-multiValue {
  background-color: #383838;
  padding: 5px 10px;
  border-radius: 4px;
}

.select__multi-value__label,
.css-9jq23d,
div.select__multi-value__label.css-9jq23d {
  color: #bcbcbc;
}

div.select__menu {
  background-color: #161616;
  border: 1px solid #303030;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 3px 8px;
}

div.select__menu div.select__option--is-focused {
  background-color: #383838;
  padding: 6px 10px;
  color: #fff;
  border-radius: 4px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade {
  animation: fade 0.2s ease-out;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .card::before,
  .card::after {
    content: "";
    position: absolute;
  }
  .card::before {
    width: 200%;
    height: 200%;
    top: 30rem;
    background-image: conic-gradient(
      #69095c 0deg,
      transparent 100deg,
      transparent 180deg,
      #69095c 180deg,
      transparent 280deg
    );
    inset: -50%;
    z-index: -2;
    animation: border-animation 4s linear infinite;
  }
  .card::after {
    --inset: 4px;
    inset: var(--inset);
    background-color: #111;
    border-radius: calc(var(--radius-4xl) - var(--inset));
    transition: all 0.3s linear;
    z-index: -1;
  }

  .accordion-card::before,
  .accordion-card::after {
    content: "";
    position: absolute;
  }
  .accordion-card::before {
    width: 200%;
    height: 200%;
    top: 30rem;
    background-image: conic-gradient(
      #69095c 0deg,
      transparent 85deg,
      transparent 180deg,
      #69095c 180deg,
      transparent 265deg
    );
    inset: -50%;
    z-index: -2;
    animation: border-animation 4s linear infinite;
  }
  .accordion-card::after {
    --inset: 4px;
    inset: var(--inset);
    background-color: #111;
    border-radius: calc(12px - var(--inset));
    transition: all 0.3s linear;
    z-index: -1;
  }

  @keyframes border-animation {
    to {
      transform: rotate(-360deg);
    }
  }
}
